<header>

<div class="logo">{{#if @blog.logo}}<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}</div>
	
<h1 class="title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
	
<p>{{@blog.description}}</p>

<nav>
<ul>
<li><a class="nav-button" href="/">Home</a>
<li><a class="nav-button" href="{{@blog.url}}/about">About</a></li>
<li><a class="nav-button" href="{{@blog.url}}/projects">Projects</a></li>
</ul>
</nav>

<nav class="social">
<ul>
<li><a class="nav-icon" href="#"><i class="fi-social-twitter" alt="Twitter"></i></a></li>
<li><a class="nav-icon" href="#"><i class="fi-social-linkedin" alt="LinkedIn"></i></a></li>
<li><a class="nav-icon" href="#"><i class="fi-social-tumblr" alt="Tumblr"></i></a></li>
</ul>
</nav>

</header>